
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/fonnts.com-DegularDemo-Light.otf") format("opentype");
  font-weight: 300; /* Light */
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/fonnts.com-DegularDemo-Medium.otf")
    format("opentype");
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/fonnts.com-DegularDemo-Regular.otf")
    format("opentype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/fonnts.com-DegularDemo-Semibold.otf")
    format("opentype");
  font-weight: 600; /* Semi-bold */
}

@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/fonnts.com-DegularDemo-Thin.otf") format("opentype");
  font-weight: 100; /* Thin */
}

@layer base {
  html {
    font-family: "Degular", sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Degular", sans-serif;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: "#131316";
    filter: invert(1);
  }

  input[type="date"]::-webkit-calendar-picker-popup {
    color: "#131316";
    background-color: lightblue;
  }
}
